<%- partial('partial/helpers') %>
<div class="mingyue-shell page-shell">
  <article class="column post-column">
    <h1 class="column-title post-page-title"><%= format_bracket_title(page.title) %></h1>
    <div class="post-content">
      <%- page.content %>
    </div>
  </article>

  <%- partial('partial/bio') %>
</div>
